server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/reactivedb
    username: postgres
    password: postgres
  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: health,info
